@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}



// *************************** components ***************************
.header{
  .top{
    &:hover{
      opacity: 1 !important;
    }
    p, h6{
      margin-bottom: 0;
    }
    .btn{
      border-radius: 50px;
      border: 1px solid black;
    }
    .icon{
      border: 1px solid black;
      padding: 2px 4px;
      border-radius: 50%;
    }
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .nav-link{
    font-size: 1.2rem;
    color: black;
    margin: auto 0.8rem;
  }
}


// *************************** overrides ***************************



// *************************** utils ***************************