// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');

$clr-primary: #e6007aFF;
$clr-dark: #172026FF;

* {
  font-family: 'Open Sans', sans-serif;
}
::-webkit-scrollbar{
  width: 0;
}
a{
  color: black;
  display: inline-block;
  padding: 1px 0;
  text-decoration: none;
  border-bottom: 1px solid $clr-primary;
  &:hover{
    color: $clr-primary;
  }
}
p{
  color: #172026FF;
}
h1,h2,h3,h4,h5,h6{
  // line-height: 1;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}



// *************************** components ***************************
.header{
  a{
    border-bottom: 0;
  }
  .top{
    &:hover{
      opacity: 1 !important;
    }
    p, h6{
      margin-bottom: 0;
    }
    .btn{
      border-radius: 50px;
      border: 1px solid black;
    }
    .icon{
      cursor: pointer;
      border: 1px solid black;
      padding: 2px 4px;
      border-radius: 50%;
    }
  }
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .nav-link{
    font-size: 1.2rem;
    color: black;
    margin: auto 0.8rem;
  }
}
.hero{
  .scroll-animation{
    height: 400px;
    width: 400px;
    margin: auto;
    .outer{
      height: 100%;
      width: 100%;
      background-image: url('../media/xcm-animation-outer.svg');
      background-size: cover;
      .inner{
        height: 100%;
        width: 100%;
        background-image: url('../media/xcm-animation-inner.png');
        background-size: cover;
      }
    }
  }
  @media only screen and (max-width: 500px){
    .scroll-animation{
      height: 280px;
      width: 280px;
    }
  }
}
.home-network{
  p{
    text-align: justify;
  }
}
.powering{
  .founded{
    background:linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.322)) ,url('../media/web3-summit-3.jpg') no-repeat center;
  }
}
.footer{
  ul{
    list-style: none;
    padding-left: 0;
    a{
      color: white;
      opacity: 0.5;
      padding: 0;
      border-bottom: 0;
      margin-bottom: 5px;
      &:hover{
        opacity: 1;
      }
    }
  }
  .icons{
    .icon{
      cursor: pointer;
      padding: 8px 12px;
      border-radius: 50%;
      border: 1px solid white;
    }
  }
}
.blog{
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}
.any-type-data{
  .col-bg{
    overflow: hidden;
    min-height: 400px;
    background-image: url('../media/dg-network-xl-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cards{
    position: relative;
    top: -80px;
    .wrapper{
      background-color: white;
      color: $clr-dark;
      border-radius: 12px;
      padding: 0.5rem 2rem;
      display: flex;
      align-items: center;
      gap: 8px;box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
    }
    p{
      margin-bottom: 0;
    }
  }
}

// *************************** overrides ***************************
.bg-primary{
  background-color: $clr-primary !important;
}
.text-primary{
  color: $clr-primary !important;
}
.bg-dark{
  background-color: $clr-dark !important;
}

// *************************** utils ***************************
.my-btn{
  border: 1px solid $clr-primary;
  color: $clr-primary;
  background-color: transparent;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1.1rem;
  position: relative;;
  z-index: 2;
  overflow: hidden;
  transition: all 0.2s ease-in;
  &:hover{
    transform: scale(1.1);
    color: white;
    .btn-bg-grad{
      width: 100%;
    }
  }
  .btn-bg-grad{
    border-radius: inherit;
    transition: all 0.2s ease-in;
    position: absolute;
    background-color: $clr-primary;
    width: 0;
    height: 100%;
    top: 0;left: 0;
    z-index: -1;
  }
}